# Backend API URL
VITE_API_URL=http://localhost:3000/api

# Stellar Network Configuration
VITE_STELLAR_NETWORK=TESTNET
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# Smart Contract Deployment ID (Soroban Testnet)
VITE_STORMSALE_CONTRACT_ID=
